In [64]:
import requests
%pip install streamlit
import pandas as pd
import streamlit as st

%pip install altair pandas vega_datasets
%pip install -U altair_viewer
%pip install streamlit
import altair as alt

Requirement already satisfied: streamlit in /Users/maddonk/anaconda3/lib/python3.11/site-packages (1.29.0)
Requirement already satisfied: altair<6,>=4.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (5.1.2)
Requirement already satisfied: blinker<2,>=1.0.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (1.7.0)
Requirement already satisfied: cachetools<6,>=4.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (5.3.2)
Requirement already satisfied: click<9,>=7.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (8.0.4)
Requirement already satisfied: importlib-metadata<7,>=1.4 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (6.0.0)
Requirement already satisfied: numpy<2,>=1.19.3 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (1.24.3)
Requirement already satisfied: packaging<24,>=16.8 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (23.0)
Requirement already satisfied: pandas<3,>=1.3.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (2.1.2)
Requirement already satisfied: pillow<11,>=7.1.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (9.4.0)
Requirement already satisfied: protobuf<5,>=3.20 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (4.25.1)
Requirement already satisfied: pyarrow>=6.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (11.0.0)
Requirement already satisfied: python-dateutil<3,>=2.7.3 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (2.8.2)
Requirement already satisfied: requests<3,>=2.27 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (2.31.0)
Requirement already satisfied: rich<14,>=10.14.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (13.7.0)
Requirement already satisfied: tenacity<9,>=8.1.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (8.2.2)
Requirement already satisfied: toml<2,>=0.10.1 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (4.7.1)
Requirement already satisfied: tzlocal<6,>=1.1 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (5.2)
Requirement already satisfied: validators<1,>=0.2 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (0.22.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (3.1.40)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (0.8.1b0)
Requirement already satisfied: tornado<7,>=6.0.3 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (6.3.2)
Requirement already satisfied: jinja2 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit) (4.17.3)
Requirement already satisfied: toolz in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: zipp>=0.5 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from importlib-metadata<7,>=1.4->streamlit) (3.11.0)
Requirement already satisfied: pytz>=2020.1 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from pandas<3,>=1.3.0->streamlit) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from python-dateutil<3,>=2.7.3->streamlit) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit) (2023.11.17)
Requirement already satisfied: markdown-it-py>=2.2.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from rich<14,>=10.14.0->streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from rich<14,>=10.14.0->streamlit) (2.15.1)
Requirement already satisfied: smmap<6,>=3.0.1 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.1)
Requirement already satisfied: attrs>=17.4.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.18.0)
Requirement already satisfied: mdurl~=0.1 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: altair in /Users/maddonk/anaconda3/lib/python3.11/site-packages (5.1.2)
Requirement already satisfied: pandas in /Users/maddonk/anaconda3/lib/python3.11/site-packages (2.1.2)
Requirement already satisfied: vega_datasets in /Users/maddonk/anaconda3/lib/python3.11/site-packages (0.9.0)
Requirement already satisfied: jinja2 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from altair) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from altair) (4.17.3)
Requirement already satisfied: numpy in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from altair) (1.24.3)
Requirement already satisfied: packaging in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from altair) (23.0)
Requirement already satisfied: toolz in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from altair) (0.12.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: attrs>=17.4.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from jsonschema>=3.0->altair) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from jsonschema>=3.0->altair) (0.18.0)
Requirement already satisfied: six>=1.5 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from jinja2->altair) (2.1.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: altair_viewer in /Users/maddonk/anaconda3/lib/python3.11/site-packages (0.4.0)
Requirement already satisfied: altair in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from altair_viewer) (5.1.2)
Requirement already satisfied: altair-data-server>=0.4.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from altair_viewer) (0.4.1)
Requirement already satisfied: portpicker in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from altair-data-server>=0.4.0->altair_viewer) (1.6.0)
Requirement already satisfied: tornado in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from altair-data-server>=0.4.0->altair_viewer) (6.3.2)
Requirement already satisfied: jinja2 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from altair->altair_viewer) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from altair->altair_viewer) (4.17.3)
Requirement already satisfied: numpy in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from altair->altair_viewer) (1.24.3)
Requirement already satisfied: packaging in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from altair->altair_viewer) (23.0)
Requirement already satisfied: pandas>=0.25 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from altair->altair_viewer) (2.1.2)
Requirement already satisfied: toolz in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from altair->altair_viewer) (0.12.0)
Requirement already satisfied: attrs>=17.4.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from jsonschema>=3.0->altair->altair_viewer) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from jsonschema>=3.0->altair->altair_viewer) (0.18.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from pandas>=0.25->altair->altair_viewer) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from pandas>=0.25->altair->altair_viewer) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from pandas>=0.25->altair->altair_viewer) (2023.3)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from jinja2->altair->altair_viewer) (2.1.1)
Requirement already satisfied: psutil in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from portpicker->altair-data-server>=0.4.0->altair_viewer) (5.9.0)
Requirement already satisfied: six>=1.5 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=0.25->altair->altair_viewer) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: streamlit in /Users/maddonk/anaconda3/lib/python3.11/site-packages (1.29.0)
Requirement already satisfied: altair<6,>=4.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (5.1.2)
Requirement already satisfied: blinker<2,>=1.0.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (1.7.0)
Requirement already satisfied: cachetools<6,>=4.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (5.3.2)
Requirement already satisfied: click<9,>=7.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (8.0.4)
Requirement already satisfied: importlib-metadata<7,>=1.4 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (6.0.0)
Requirement already satisfied: numpy<2,>=1.19.3 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (1.24.3)
Requirement already satisfied: packaging<24,>=16.8 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (23.0)
Requirement already satisfied: pandas<3,>=1.3.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (2.1.2)
Requirement already satisfied: pillow<11,>=7.1.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (9.4.0)
Requirement already satisfied: protobuf<5,>=3.20 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (4.25.1)
Requirement already satisfied: pyarrow>=6.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (11.0.0)
Requirement already satisfied: python-dateutil<3,>=2.7.3 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (2.8.2)
Requirement already satisfied: requests<3,>=2.27 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (2.31.0)
Requirement already satisfied: rich<14,>=10.14.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (13.7.0)
Requirement already satisfied: tenacity<9,>=8.1.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (8.2.2)
Requirement already satisfied: toml<2,>=0.10.1 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (4.7.1)
Requirement already satisfied: tzlocal<6,>=1.1 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (5.2)
Requirement already satisfied: validators<1,>=0.2 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (0.22.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (3.1.40)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (0.8.1b0)
Requirement already satisfied: tornado<7,>=6.0.3 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from streamlit) (6.3.2)
Requirement already satisfied: jinja2 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit) (4.17.3)
Requirement already satisfied: toolz in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: zipp>=0.5 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from importlib-metadata<7,>=1.4->streamlit) (3.11.0)
Requirement already satisfied: pytz>=2020.1 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from pandas<3,>=1.3.0->streamlit) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from python-dateutil<3,>=2.7.3->streamlit) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit) (2023.11.17)
Requirement already satisfied: markdown-it-py>=2.2.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from rich<14,>=10.14.0->streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from rich<14,>=10.14.0->streamlit) (2.15.1)
Requirement already satisfied: smmap<6,>=3.0.1 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.1)
Requirement already satisfied: attrs>=17.4.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.18.0)
Requirement already satisfied: mdurl~=0.1 in /Users/maddonk/anaconda3/lib/python3.11/site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.0)
Note: you may need to restart the kernel to use updated packages.

In [44]:
jsonlist = requests.get("https://api.census.gov/data/2019/pep/charagegroups?get=NAME,POP&for=state:*").json()
states =[]
populations =[]
for list in jsonlist:
    states.append(list[0])
    populations.append(list[1])
data = {"State":states,"Population":populations
}
df=pd.DataFrame(data)
df = df.iloc[1:]
df["Population"]=pd.to_numeric(df["Population"])
df.head()

         State  Population
1  Mississippi     2976149
2     Missouri     6137428
3      Montana     1068778
4     Nebraska     1934408
5       Nevada     3080156

In [45]:
chart = alt.Chart(df).mark_area().encode(
    x="State",
    y="Population"
)
st.title('Population Chart')
st.altair_chart(
    chart, use_container_width=True)

/Users/maddonk/anaconda3/lib/python3.11/site-packages/pyarrow/pandas_compat.py:373: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if _pandas_api.is_sparse(col):

DeltaGenerator()

Vega-altair orders state IDs in aphabetical order so I ordered the data frame by state name

In [46]:
from vega_datasets import data
df = df.sort_values(by="State")
df=df.reset_index(drop=True)
#df['id']= data.population_engineers_hurricanes()
df.head()
## just a random vega dataset that uses same id convention for states
altair_state_ids = data.population_engineers_hurricanes()
df["id"]=altair_state_ids['id']
df.head()

        State  Population  id
0     Alabama     4903185   1
1      Alaska      731545   2
2     Arizona     7278717   4
3    Arkansas     3017804   5
4  California    39512223   6

In [47]:
from vega_datasets import data

states = alt.topo_feature(data.us_10m.url, 'states')


alt.Chart(states).mark_geoshape().encode(
    color='Population:Q',
    tooltip=['State:N', 'Population:Q']
).transform_lookup(
    lookup='id',
    from_=alt.LookupData(df, 'id', ['Population','State'])
).project(
    type='albersUsa'
).properties(
    width=500,
    height=300
)

alt.Chart(...)

In [48]:
import altair as alt
from vega_datasets import data

# Load US states TopoJSON data
states = alt.topo_feature(data.us_10m.url, 'states')
# Display the first feature's properties
alt.Chart(states).mark_geoshape().transform_calculate(
    properties=alt.datum.properties
).project(
    type='albersUsa'
).properties(
    width=500,
    height=300
)

alt.Chart(...)

List of state names and state codes in corresponding order

In [49]:
state_codes = [
    "AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA",
    "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD",
    "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ",
    "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC",
    "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"
]

state_names = [
    "Alabama", "Alaska", "Arizona", "Arkansas", "California",
    "Colorado", "Connecticut", "Delaware", "Florida", "Georgia",
    "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas",
    "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts",
    "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana",
    "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico",
    "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma",
    "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota",
    "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington",
    "West Virginia", "Wisconsin", "Wyoming"
]

In [87]:
from scrapy import Selector
medians =[]

for state in state_codes:
   
    populationurl= 'https://www.census.gov/quickfacts/fact/table/'+state+'/INC110221#INC110221'
   
    response = requests.get(populationurl)
    sel= Selector(text=response.text)
    medians.append(sel.css('td::text').getall()[3])

medians

['$54,943',
 '$80,287',
 '$65,913',
 '$52,123',
 '$84,097',
 '$80,184',
 '$83,572',
 '$72,724',
 '$61,777',
 '$65,030',
 '$88,005',
 '$63,377',
 '$72,563',
 '$61,944',
 '$65,429',
 '$64,521',
 '$55,454',
 '$53,571',
 '$63,182',
 '$91,431',
 '$89,026',
 '$63,202',
 '$77,706',
 '$49,111',
 '$61,043',
 '$60,560',
 '$66,644',
 '$65,686',
 '$83,449',
 '$89,703',
 '$54,020',
 '$75,157',
 '$60,516',
 '$68,131',
 '$61,938',
 '$56,956',
 '$70,084',
 '$67,587',
 '$74,489',
 '$58,234',
 '$63,920',
 '$58,516',
 '$67,321',
 '$79,133',
 '$67,674',
 '$80,615',
 '$82,400',
 '$50,884',
 '$67,080',
 '$68,002']

In [88]:
df2 = pd.DataFrame({"State":state_names,"Median Household income":medians})
df2

             State Median Household income
0          Alabama                 $54,943
1           Alaska                 $80,287
2          Arizona                 $65,913
3         Arkansas                 $52,123
4       California                 $84,097
5         Colorado                 $80,184
6      Connecticut                 $83,572
7         Delaware                 $72,724
8          Florida                 $61,777
9          Georgia                 $65,030
10          Hawaii                 $88,005
11           Idaho                 $63,377
12        Illinois                 $72,563
13         Indiana                 $61,944
14            Iowa                 $65,429
15          Kansas                 $64,521
16        Kentucky                 $55,454
17       Louisiana                 $53,571
18           Maine                 $63,182
19        Maryland                 $91,431
20   Massachusetts                 $89,026
21        Michigan                 $63,202
22       Minnesota                 $77,706
23     Mississippi                 $49,111
24        Missouri                 $61,043
25         Montana                 $60,560
26        Nebraska                 $66,644
27          Nevada                 $65,686
28   New Hampshire                 $83,449
29      New Jersey                 $89,703
30      New Mexico                 $54,020
31        New York                 $75,157
32  North Carolina                 $60,516
33    North Dakota                 $68,131
34            Ohio                 $61,938
35        Oklahoma                 $56,956
36          Oregon                 $70,084
37    Pennsylvania                 $67,587
38    Rhode Island                 $74,489
39  South Carolina                 $58,234
40    South Dakota                 $63,920
41       Tennessee                 $58,516
42           Texas                 $67,321
43            Utah                 $79,133
44         Vermont                 $67,674
45        Virginia                 $80,615
46      Washington                 $82,400
47   West Virginia                 $50,884
48       Wisconsin                 $67,080
49         Wyoming                 $68,002

In [89]:
merged_df = pd.merge(df,df2)
merged_df.head()

        State  Population  id Median Household income
0     Alabama     4903185   1                 $54,943
1      Alaska      731545   2                 $80,287
2     Arizona     7278717   4                 $65,913
3    Arkansas     3017804   5                 $52,123
4  California    39512223   6                 $84,097

In [90]:
url = 'https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_area'
response = requests.get(url)
df3

                     State  Land mi2
0                   Alaska    570641
1                    Texas    261232
2               California    155779
3                  Montana    145546
4               New Mexico    121298
5                  Arizona    113594
6                   Nevada    109781
7                 Colorado    103642
8                   Oregon     95988
9                  Wyoming     97093
10                Michigan     56539
11               Minnesota     79627
12                    Utah     82170
13                   Idaho     82643
14                  Kansas     81759
15                Nebraska     76824
16            South Dakota     75811
17              Washington     66456
18            North Dakota     69001
19                Oklahoma     68595
20                Missouri     68742
21                 Florida     53625
22               Wisconsin     54158
23                 Georgia     57513
24                Illinois     55519
25                    Iowa     55857
26                New York     47126
27          North Carolina     48618
28                Arkansas     52035
29                 Alabama     50645
30               Louisiana     43204
31             Mississippi     46923
32            Pennsylvania     44743
33                    Ohio     40861
34                Virginia     39490
35               Tennessee     41235
36                Kentucky     39486
37                 Indiana     35826
38                   Maine     30843
39          South Carolina     30061
40           West Virginia     24038
41                Maryland      9707
42                  Hawaii      6423
43           Massachusetts      7800
44                 Vermont      9217
45           New Hampshire      8953
46              New Jersey      7354
47             Connecticut      4842
48             Puerto Rico      3424
49  Minor Outlying Islands       603
50                Delaware      1949

In [91]:
htmlresponse = pd.read_html(url,header=0)
df3 = htmlresponse[0]
df3 = df3[['State / territory','Land mi2']]
df3 = df3.head(51)
df3 = df3.rename(columns={'State / territory': 'State'})
df3.head()

        State  Land mi2
0      Alaska    570641
1       Texas    261232
2  California    155779
3     Montana    145546
4  New Mexico    121298

In [92]:
merged_df = pd.merge(merged_df,df3)


merged_df.head()

        State  Population  id Median Household income  Land mi2
0     Alabama     4903185   1                 $54,943     50645
1      Alaska      731545   2                 $80,287    570641
2     Arizona     7278717   4                 $65,913    113594
3    Arkansas     3017804   5                 $52,123     52035
4  California    39512223   6                 $84,097    155779

In [93]:
merged_df["Population/SqMi"]= merged_df['Population'] / merged_df['Land mi2']
merged_df

,State,Population,id,Median Household income,Land mi2,Population/SqMi
0,Alabama,4903185,1,"$54,943",50645,96.814789
1,Alaska,731545,2,"$80,287",570641,1.281971
2,Arizona,7278717,4,"$65,913",113594,64.076597
3,Arkansas,3017804,5,"$52,123",52035,57.995657
4,California,39512223,6,"$84,097",155779,253.642808
5,Colorado,5758736,8,"$80,184",103642,55.563729
6,Connecticut,3565287,9,"$83,572",4842,736.325279
7,Delaware,973764,10,"$72,724",1949,499.622370
8,Florida,21477737,12,"$61,777",53625,400.517240
9,Georgia,10617423,13,"$65,030",57513,184.609097
10,Hawaii,1415872,15,"$88,005",6423,220.437802
11,Idaho,1787065,16,"$63,377",82643,21.623912
12,Illinois,12671821,17,"$72,563",55519,228.242962
13,Indiana,6732219,18,"$61,944",35826,187.914336
14,Iowa,3155070,19,"$65,429",55857,56.484774
15,Kansas,2913314,20,"$64,521",81759,35.632946
16,Kentucky,4467673,21,"$55,454",39486,113.145748
17,Louisiana,4648794,22,"$53,571",43204,107.601009
18,Maine,1344212,23,"$63,182",30843,43.582401
19,Maryland,6045680,24,"$91,431",9707,622.816524
20,Massachusetts,6892503,25,"$89,026",7800,883.654231
21,Michigan,9986857,26,"$63,202",56539,176.636605
22,Minnesota,5639632,27,"$77,706",79627,70.825624
23,Mississippi,2976149,28,"$49,111",46923,63.426230
24,Missouri,6137428,29,"$61,043",68742,89.282069
25,Montana,1068778,30,"$60,560",145546,7.343232
26,Nebraska,1934408,31,"$66,644",76824,25.179735
27,Nevada,3080156,32,"$65,686",109781,28.057278
28,New Hampshire,1359711,33,"$83,449",8953,151.872110
29,New Jersey,8882190,34,"$89,703",7354,1207.803916
30,New Mexico,2096829,35,"$54,020",121298,17.286592
31,New York,19453561,36,"$75,157",47126,412.798901
32,North Carolina,10488084,37,"$60,516",48618,215.724300
33,North Dakota,762062,38,"$68,131",69001,11.044217
34,Ohio,11689100,39,"$61,938",40861,286.069847
35,Oklahoma,3956971,40,"$56,956",68595,57.685998
36,Oregon,4217737,41,"$70,084",95988,43.940253
37,Pennsylvania,12801989,42,"$67,587",44743,286.122723
38,South Carolina,5148714,46,"$58,234",30061,171.275540
39,South Dakota,884659,47,"$63,920",75811,11.669270
40,Tennessee,6829174,48,"$58,516",41235,165.615957
41,Texas,28995881,49,"$67,321",261232,110.996666
42,Utah,3205958,50,"$79,133",82170,39.016162
43,Vermont,623989,51,"$67,674",9217,67.699794
44,Virginia,8535519,53,"$80,615",39490,216.143809
45,Washington,7614893,54,"$82,400",66456,114.585485
46,West Virginia,1792147,55,"$50,884",24038,74.554747
47,Wisconsin,5822434,56,"$67,080",54158,107.508291
48,Wyoming,578759,72,"$68,002",97093,5.960873

creating integer value for median income

In [98]:
merged_df['Income_Integer'] = merged_df['Median Household income'].replace('[\$,]', '', regex=True).astype(int)
merged_df['Population/SqMi'] = pd.to_numeric(merged_df['Population/SqMi'], errors='coerce')
scatter = alt.Chart(merged_df).mark_circle().encode(
    y='Income_Integer',
    x='Population/SqMi'
)
regressionline = scatter.transform_regression('Income_Integer', 'Population/SqMi').mark_line()
combined_chart = (scatter + regressionline)
combined_chart.interactive()

alt.LayerChart(...)

In [99]:
scatter.interactive()

alt.Chart(...)